.section-contacto{
    text-align: center;
    font-family: 'Italianno', cursive; 
    font-size: 55px;
    padding-top: 30px;
}

h2{
    text-align: center; 
    margin-top: 10px; 
}

.form-contain{
    text-align: center;
    padding-top: 40px;
    line-height: 30px;

}

.newsletter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    padding-left: 35px;
    font-size: 15px;
    border-bottom: solid 1px #938ebb;
    color: #938ebb
}

.footer__content{
    background-color:#ded5f0;
}

.footer-copyright{
    text-align: center;
    margin-top: 20px;
    color: #938ebb;
}

.social-media{
    text-align: center;
}

.login{
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: #938ebb;
    margin: 0px 5px;
}